.donut-chart {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 241, 238);
    border-radius: 20px;
    margin: 10px;
}
.donut-chart svg circle {
    transition: stroke-width 0.3s;
}
.donut-chart svg circle:hover {
    stroke-width: 22;
}
.donut-chart .items-names {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.donut-chart .items-names .item-name {
    min-width: 70px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 600;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}
body .card {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fff;
}
body .card h1 {
    margin-top: 10px;
}
.fa-instagram {
    position: absolute;
    top: 3%;
    right: 2%;
    color: #fff;
    font-size: 38px;
    cursor: pointer;
    transition: all 0.1s;
}
.fa-instagram:hover {
    color: #ff3838;
    font-size: 42px;
}

.data_views{
    background-color: aliceblue;
    font: 200;
}
